/** General paddings, margins, styles **/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


.background-image {
    min-height: calc(100% - 40px);
    width: 100%;
    display: block;
    background-size: cover;
    padding-top: 20px;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.bold-text {
    font-weight: 700;
}

/* Header */
.nav {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: white;
}

/* home */
.home {
    background-image: url("../images/01.home-pic.jpg");
}

.jumbotron {
    background-color:  rgba(0, 0, 0, 0);
    text-align: center;
    margin-top: 10%;
}

.search-bars {
    max-width: 400px;
    margin: auto;
}

.no-outline {
    border: none;
}

/* Bird files */
.bird-file {
    background-color: pink;
}

.table td, .table th {
    border-top: none;
}

text-center {
    text-align: center;
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

/* About */
.about {
    background-image: url("../images/02.about-pic.jpg");
}

.about-text {
    margin: auto;
    margin-top: 10%;
    max-width: 1200px;
    text-align: center;
    background-color: rgb(250, 250, 250, 0.8);
    border-radius: 4px;
    padding: 50px;
}
