/** General paddings, margins, styles **/

body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  color: #352523;
}

.uppercase {
  text-transform: uppercase;
  margin-bottom: 0;
}

.background-image {
  min-height: calc(100% - 40px);
  width: 100%;
  display: block;
  background-size: cover;
  padding-top: 20px;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.title {
  padding-top: 50px;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 4em;
  padding-top: 2%;
}

.sub-title {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
}

.bold-text {
  font-weight: 700;
}

text-center {
  text-align: center;
}

.italic-text {
  font-style: italic;
}

.table {
  margin: 20px 0;
}

.search-result,
.bird-file {
  display: none;
}

/* Header */
.nav {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 40px;
  font-family: "Amatic SC", sans-serif;
  font-size: 1.5em;
}

.solid {
  background-color: #f7f7f7;
  transition: background-color 1s ease 0s;
}

.nav-link {
  color: #352523;
}

.nav-link:hover {
  font-weight: 700;
  color: #2a201f;
}

/* home */
.parallax {
  width: 100%;
  height: calc(100vh - 40px);
  background-image: url("../images/01.home-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: 7%;
}

.home-title-container {
  max-width: 700px;
  background-color: rgb(250, 250, 250, 0.8);
  border-radius: 10px;
}

.display-4 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-size: 6em;
}

.search-bars {
  max-width: 400px;
  margin: auto;
}

.form-control {
  margin-top: 20px;
}

.search-btn {
  margin: 20px 0 30px;
  border-radius: 25px;
  color: #fafafa;
  background-color: #3e2c2a;
  border-color: #110c0c;
}

.btn:hover {
  background-color: #2a201f;
  color: #f7f7f7;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(62, 44, 42, 0.25);
}

.search-bar {
  border-color: #35252329;
  width: 100%;
  border-radius: 25px;
  height: 36px;
  padding: 2px 12px;
  outline: none;
}

.search-bar:focus {
  box-shadow: 0 0 0 0.2rem rgba(62, 44, 42, 0.25);
  border: none;
}

/* Search result*/

.width-90 {
  background-color: rgb(250, 250, 250, 0.8);
  max-width: 90%;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
}

.dataTables_filter input {
  border-radius: 25px;
  outline: none;
  border-color: #35252329;
  padding: 1px 10px;
  width: 160x;
}

.table-responsive {
  max-width: 80%;
  padding: 50px 15px;
}

.search-result {
  background-color: #946767a1;
  padding-bottom: 60px;
}

.dataTables_length label select {
  border-radius: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-radius: 10px;
}

.dataTable tr.even {
  background-color: #efefef;
}

.dataTable tr:hover {
  background-color: #dccbc9;
}

.table.dataTable thead th {
  background: #946767a1;
  color: #f7f7f7;
}

.location-map,
.no-location-image {
  display: none;
}

/* Bird files */
.bird-file {
  background-image: url("../images/012.bird-file-pic.jpg");
  min-height: calc(100% - 40px);
  padding: 40px 0;
}

.bird-file-text {
  background-color: rgb(250, 250, 250, 0.8);
  border-radius: 4px;
  padding: 0 40px;
}

.table td,
.table th {
  border-top: none;
}

.bird-id {
  cursor: pointer;
}

.bird-id:hover {
  color: #f7f7f7;
}

#reproductor {
  border: 0;
  width: 340;
  height: 115;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.map-margin {
  margin-bottom: 40px;
}

/* About */
.about {
  background-image: url("../images/02.about-pic.jpg");
}

.about-p {
  padding: 25px 0;
}

.about-text {
  margin: auto;
  margin-top: 7%;
  max-width: 1200px;
  text-align: center;
  background-color: rgb(250, 250, 250, 0.8);
  border-radius: 4px;
  padding: 40px 50px;
}

/* Surprised */

.suggestions {
  background-image: url("../images/03.suggestions-pic.jpg");
}

.suggestions-col-12 {
  max-width: 90%;
  background-color: rgb(250, 250, 250, 0.8);
  border-radius: 10px;
  margin: auto;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel.slide {
  margin: auto;
  width: 80%;
  margin-top: 3%;
}

.carousel-inner {
  color: f7f7f7;
}

.img-center {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(53, 37, 35, 0.4);
}

.carousel-caption h5 {
  font-style: italic;
}

/* Footer */

.footer {
  background-color: #f7f7f7;
  height: 40px;
  padding-top: 6px;
}

.social-links {
  text-align: center;
  margin-bottom: 0px;
  margin: auto;
}

.fab {
  color: #352523;
  font-size: 22px;
  padding-top: 3px;
}

.fab:hover {
  font-weight: 700;
  color: #2a201f;
}

/* Media queries*/
@media (min-width: 768px) {
  .width-80 {
    max-width: 80%;
    margin: auto;
  }
}

@media (max-width: 767.98px) {
  .type {
    display: none;
  }

  .jp-type-single {
    width: 250px;
  }
}

@media (max-width: 575.98px) {
  .display-4 {
    font-size: 4em;
    margin-top: 40px;
  }

  .nav {
    background-color: #f7f7f7;
  }

  iframe#reproductor {
    width: 250px;
  }

  .jumbotron {
    margin: 0;
  }

  .table-responsive {
    max-width: 90%;
  }

  .suggestions-col-12 {
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
