/** General paddings, margins, styles **/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


.background-image {
    min-height: calc(100% - 40px);
    width: 100%;
    display: block;
    background-size: cover;
    padding-top: 20px;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.title { 
    padding-top: 50px;
    text-align: center;
}

.sub-title {
    text-align: center;
    font-style: italic;
    font-size: 1.7rem;
}

.bold-text {
    font-weight: 700;
}

text-center {
    text-align: center;
}

.table {
    margin: 20px 0;
}

.search-result, .bird-file {
    display: none;
}

/* Header */
.nav {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: white;
}

/* home */
.home {
    background-image: url("../images/01.home-pic.jpg");
}

.jumbotron {
    background-color:  rgba(0, 0, 0, 0);
    text-align: center;
    margin-top: 10%;
}

.home-title-container {
    max-width: 650px;
    background-color:  rgb(250, 250, 250, 0.8);
    border-radius: 4px;
}

.search-bars {
    max-width: 400px;
    margin: auto;
}

.no-outline {
    border: none;
}

/* Search result*/


/* Bird files */
.bird-file {
    background-color: pink;
}

.table td, .table th {
    border-top: none;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.map-margin {
    margin-bottom: 40px;
}

/* About */
.about {
    background-image: url("../images/02.about-pic.jpg");
}

.about-p {
    padding: 10px 0;
}

.about-text {
    margin: auto;
    margin-top: 8%;
    max-width: 1200px;
    text-align: center;
    background-color: rgb(250, 250, 250, 0.8);
    border-radius: 4px;
    padding: 50px;
}

/* Suggestions */

.suggestion-p {
    text-align: center;
}

.text-right, .text-left {
    padding-top: 20%;
}

.text-left {
    text-align: left;
}


.suggestions {
    /* background-image: url("../images/03.suggestions-pic.jpg"); */
}

/* .transparent-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
} */

/* Footer */

.social-links {
    text-align: center;
}

/* Media queries*/
@media (min-width: 768px) {
    .width-90 {
        max-width: 90%;
        margin: auto;
    }

    .width-80 {
        max-width: 80%;
        margin: auto;
    }
}